#!/sbin/runscript

description="NewRelic System Monitor"

pidfile=/var/run/newrelic/nrsysmond.pid
command=/usr/sbin/nrsysmond
command_args="-c /etc/newrelic/nrsysmond.cfg -p ${pidfile}"
command_user="newrelic"
command_group="newrelic"

depend() {
	use net
}

start_pre() {
	checkpath -q -d -m 0775 -o newrelic:newrelic \
		/var/run/newrelic \
		/var/log/newrelic
}
