[Unit]
Description=Aerospike Management Console
After=network.target

[Service]
ExecStart=/opt/amc/bin/gunicorn --config=/opt/amc/config/gunicorn_config.py flaskapp:app
Restart=always
SyslogIdentifier=%p

[Install]
WantedBy=multi-user.target
